.body {
    background-color: #deeeff;
    height: 100vh;
    width: 100vw;
    padding: 32px 6%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
    gap: 40px;
    margin-bottom: 50px;

}
.texto_grande{
    font-size: xx-large;
    color: #345ADE;
    font-weight: bold;
}

.slogan{
    font-size: 50px;
    color: #345ADE;
    font-weight: 600; 
    margin-top: -30px;
}
.nome_aplicacao{
    font-size: 80px;
    color: #345ADE;
    font-weight: bold;
}
.direita {
    background-color: #5385B8;
    margin: 50px 0px;
    border-radius: 50px;
    padding: 32px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto_acesse{
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 32px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fill;
}
.input {
    width: fill;
    height: 50px;
    border-radius: 32px;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px #3E60AF;
}

.texto_input {
    color: aliceblue;
    font-size: x-large;
}
.esqueciASenha{
    place-self: end;
    color: aliceblue;
    margin-bottom: 32px;
    font-size: large;

}
.botao {
    background-color: #deeeff;
    color: #3E60AF;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: xx-large;
    font-weight: bold;
    border: none;
    margin-bottom: 25px;
}
.texto{
    color: aliceblue;
    cursor: pointer;

}

.erro_null {
    margin-top: -30px;
    color: firebrick;

}